@page "/MyAccount/History"
<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.History" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>History</h5>
                                    <div class="history-list">
                                        <ul class="history-list-item">
                                            <li>Creative Concept interior contractor Pvt. Ltd.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>