@page "/MyAccount/MyActivity"
<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.MyActivity" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>My Activity</h5>
                                    <div class="row">
                                        <div class="col-md-4 col-6 mb-3">
                                            <a href="/ManageListing/AllReviews">
                                                <div class="add_listing_card d-flex align-items-center justify-content-start">
                                                    <img src="/resources/img/AddListing/office.png" class="listing_img" alt="Reviews">
                                                    <div class="add_listing_card_title">Reviews</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 col-6 mb-3">
                                            <a href="/ManageListing/AllLikes">
                                                <div class="add_listing_card d-flex align-items-center justify-content-start">
                                                    <img src="/resources/img/AddListing/communication.png" class="listing_img" alt="Likes">
                                                    <div class="add_listing_card_title">Likes</div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4 col-6 mb-3">
                                            <a href="/ManageListing/Enquiry">
                                                <div class="add_listing_card d-flex align-items-center justify-content-start">
                                                    <img src="/resources/img/AddListing/address.png" class="listing_img" alt="Enquiry">
                                                    <div class="add_listing_card_title">Enquiry</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>