@page "/MyAccount/Notification"
<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <SideNavigation isVendor="@isVendor" currentPage="@BOL.Constants.Notification" />
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>Notification</h5>
                                    <div class="list_general like-listing">
                                        @if (listingActivityVMs != null)
                                        {
                                            foreach (var listActivity in listingActivityVMs)
                                            {
                                                <div class="notification-list">
                                                    <ListingActivity listingActivityVM="listActivity" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>