@page "/MyAccount/UserProfile"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject SharedDbContext sharedContext
@inject CategoriesDbContext categoriesContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@using AntDesign
@using BOL.SHARED

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" href="/MyAccount/UserProfile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Edit Profile</a>
                            <a class="nav-link" href="/ManageListing/AllListing" role="tab" aria-selected="false">My Listings</a>
                            <a class="nav-link" href="/ManageListing/AllReviews" role="tab" aria-controls="v-pill-reviews" aria-selected="false">Reviews</a>
                            <a class="nav-link" href="/ManageListing/AllLikes" role="tab" aria-controls="v-pill-likes" aria-selected="false">Likes</a>
                            <a class="nav-link" href="/ManageListing/AllBookmarks" role="tab" aria-controls="v-pill-bookmark" aria-selected="true">Bookmarks</a>
                            <a class="nav-link" href="/ManageListing/AllSubscribe" role="tab" aria-controls="v-pill-subscribe" aria-selected="false">Subscribe</a>
                            <a class="nav-link" href="/Identity/Account/Manage" role="tab" aria-controls="v-pill-settings" aria-selected="false">Settings</a>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review icon-form-group">
                                    <p style="font-size:24px;">Edit Profile @*<button class="btn btn-link float-right" @onclick="@(async() => await ToggleDisableAsync())">Edit</button>*@</p>
                                    <div class="row">
                                        <EditProfileForm EditProfile="editProfileVM" />
                                        <div class="text-center col-12 mt-3">
                                            @if (userProfile == null)
                                            {
                                                <button type="submit" class="btn btn-primary w-100" @onclick="@(async() => await CreateProfileAsync())">Submit</button>
                                            }
                                            else
                                            {
                                                <button type="submit" class="btn btn-primary w-100" @onclick="@(async() => await UpdateProfileAsync())">Update & Save</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <div style="text-align:center; margin:20px;">
            <a href="/Identity/Account/Login" class="btn_1">Login To Continue</a>
        </div>
    </NotAuthorized>
</AuthorizeView>