<div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" href="/MyAccount/UserProfile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Edit Profile</a>
    <a class="nav-link " href="/MyAccount/UserAddress" role="tab" aria-controls="v-pills-address" aria-selected="true">Address</a>
    @if (isVendor)
    {
        <a class="nav-link active" href="#v-pills-add-listing" role="tab" aria-controls="v-pills-add-listing" aria-selected="false">Add Listing</a>
    }


    <a class="nav-link" href="/ManageListing/AllListing" role="tab" aria-selected="false">My Listings</a>
    <a class="nav-link" href="/ManageListing/AllReviews" role="tab" aria-controls="v-pill-reviews" aria-selected="false">Reviews</a>
    <a class="nav-link" href="/ManageListing/AllLikes" role="tab" aria-controls="v-pill-likes" aria-selected="false">Likes</a>
    <a class="nav-link" href="/ManageListing/AllBookmarks" role="tab" aria-controls="v-pill-bookmark" aria-selected="true">Bookmarks</a>
    <a class="nav-link" href="/ManageListing/AllSubscribe" role="tab" aria-controls="v-pill-subscribe" aria-selected="false">Subscribe</a>
    <a class="nav-link" href="/Identity/Account/Manage" role="tab" aria-controls="v-pill-settings" aria-selected="false">Settings</a>


    <a class="nav-link" href="#v-pills-suggestion" role="tab" aria-controls="v-pills-suggestion" aria-selected="false">Suggestion</a>
    <a class="nav-link" href="#v-pill-complaint" role="tab" aria-controls="v-pill-complaint" aria-selected="false">Complaint</a>
    <a class="nav-link" href="#v-pill-offers" role="tab" aria-controls="v-pill-offers" aria-selected="false">Offers</a>
    <a class="nav-link" href="#v-pill-bookmark" role="tab" aria-controls="v-pill-bookmark" aria-selected="false">Bookmark</a>
    <a class="nav-link" href="#v-pill-enquiry" role="tab" aria-controls="v-pill-enquiry" aria-selected="false">Enquiry</a>
    <a class="nav-link" href="#v-pill-notification" role="tab" aria-controls="v-pill-notification" aria-selected="false">Notification</a>
    <a class="nav-link" href="#v-pill-like" role="tab" aria-controls="v-pill-like" aria-selected="false">Like</a>
    <a class="nav-link" href="#v-pill-review" role="tab" aria-controls="v-pill-review" aria-selected="false">Review</a>
    <a class="nav-link" href="#v-pill-chat" role="tab" aria-controls="v-pill-chat" aria-selected="false">Chat</a>
    <a class="nav-link" href="#v-pill-history" role="tab" aria-controls="v-pill-history" aria-selected="false">History</a>
    <a class="nav-link" href="#v-pills-password" role="tab" aria-controls="v-pill-password" aria-selected="false">Change Password</a>
</div>
