@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Account.cshtml";
}

@section CSS{
    <link href="~/css/mim-authorization-pages.css" rel="stylesheet" type="text/css" />
}


<div class="row justify-content-center account-form">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 umar-account-form-border">
        <form id="account" method="post">
            <a href="~/" title="UMARZONE">
                <img src="~/img/my-interior-mart-logo.png" class="logo" />
            </a>
            <h1>LOGIN</h1>
            <!-- Begin: Hidden fields -->
            <span asp-validation-summary="All" class="umar-error"></span>
            <!-- End: -->
            <input @*asp-for="Input.Email"*@ class="umar-input" placeholder="Email" required />
            <span @*asp-validation-for="Input.Email"*@ class="umar-error"></span>
            <input @*asp-for="Input.Password"*@ class="umar-input" placeholder="Password" required />
            <span @*asp-validation-for="Input.Password"*@ class="umar-error"></span>
            <div style="display:flex">
                <div>
                    <input type="checkbox" @*asp-for="Input.RememberMe"*@>
                    <span class="checkbox-text">Remember me</span>
                </div>
                <div class="float-right" style="margin-left:50px;">
                    <a href="" style="color:#2459A3;">Forgot password?</a>
                </div>
            </div>
            <button type="submit">Login</button>
            <h2 class="umar-h2 mt-4">
                ALREADY REGISTERED!<br />
                LOGIN BY
            </h2>
            <div class="d-flex flex-row justify-content-center umar-account-footer">
                <div class="umar-icons">
                    <img src="~/img/account-form/mobile.svg" />
                    <a href="#">Mobile</a>
                </div>
                <div class="umar-icons">
                    <img src="~/img/account-form/link.svg" />
                    <a href="#">Link</a>
                </div>
            </div>
            <h2 class="umar-h2">
                Don’t have an account?
            </h2>
            <div class="d-flex flex-row justify-content-center">
                <div class="umar-icons">
                    <img src="~/img/account-form/mobile.svg" />
                    <a href="#">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@*<form action="~/Login/ByMobileOtp" method="post">
    <input type="text" name="mobile" />
    <input type="submit" value="Login" />
</form>*@

