ADMIN/bin/
ADMIN/obj/
BAL/bin/
BOL/obj/
BAL/obj/
CLASSIFIED/bin/
CLASSIFIED/obj/
COM/bin/
COM/obj/
DAL/bin/
DAL/obj/
FRONTEND.BLAZOR/bin/
FRONTEND.BLAZOR/obj/
FRONTEND/FRONTEND/bin/
FRONTEND/FRONTEND/obj/
HUBS/bin/
HUBS/obj/
IDENTITY/bin/
IDENTITY/obj/
REPO/bin/
REPO/obj/
STAFF/bin/
STAFF/obj/
FRONTEND/.vs/
FRONTEND/HTMLS/obj/
BOL/bin/
FRONTEND/Utils/bin/
FRONTEND/Utils/obj/
