@attribute [Route(BOL.Constants.freeListingUrl + "/Specialisation")]

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3 p-0">
                        <FreeListingSideNav currentPage="@BOL.Constants.BusinessListing" />
                    </div>

                    <div class="col-lg-9  p-0">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h4>Add Addresses Details</h4>
                                    <hr />
                                    <SpecialisationForm MenuId="@BOL.Constants.CreateListing" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>