@model BOL.SHARED.Pincode

@{
    ViewData["Title"] = "Edit Pincode";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Pincodes";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Common/Pincodes";
    ViewData["BT-Text-2"] = "Cancel";
    ViewData["BT-Link-2"] = "/Common/Pincodes";
    ViewData["BT-Text3"] = "";
    ViewData["BT-Link3"] = "";
    ViewData["BT-Text4"] = "";
    ViewData["BT-Link4"] = "";
}
<!-- End: -->

<h5>@ViewData["Title"]</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PincodeID" />
            <div class="form-group">
                <label asp-for="PincodeNumber" class="control-label"></label>
                <input asp-for="PincodeNumber" class="form-control" />
                <span asp-validation-for="PincodeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationID" class="control-label"></label>
                <select asp-for="StationID" class="form-control" asp-items="ViewBag.StationID"></select>
                <span asp-validation-for="StationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="" data-target="#modalConfirm" data-toggle="modal" class="btn btn-primary">Edit</a>
            </div>
            <!-- Begin: Form confirmation -->
            <div class="modal" id="modalConfirm">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content tx-size-sm">
                        <div class="modal-body tx-center pd-y-20 pd-x-20">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button> <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-primary lh-1 mg-t-20 d-inline-block"></i>
                            <h4 class="tx-primary tx-semibold mg-b-20">Confirmation!</h4>
                            <h6 class="mg-b-20 mg-x-20">Are you sure, you want to edit @Model.PincodeNumber pincode.</h6>
                            <div class="modal-footer justify-content-center">
                                <button class="btn ripple btn-primary" type="submit">Confirm</button>
                                <button class="btn ripple btn-secondary" data-dismiss="modal" type="button">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: -->
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
