@inject NavigationManager navManager
<!-- Begin: Search Bar -->
<div id="results">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-12">
                <div class="wrap">
                    <div class="search">
                        <BlazoredTypeahead SearchMethod="SearchListings" @bind-Value="SelectedListing" Placeholder="Search">
                            <SelectedTemplate>@context.value</SelectedTemplate>
                            <ResultTemplate>
                                @context.label
                            </ResultTemplate>
                        </BlazoredTypeahead>
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Search Bar -->

@if (SelectedListing != null)
{
    navManager.NavigateTo($"/Listing/Index/{SelectedListing.value}");
}