@model IEnumerable<BOL.CATEGORIES.KeywordSixthCategory>

@{
    ViewData["Title"] = "Keywords Sixth Categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["RowCount"] = Model.Count();
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Keywords";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Keywords/KeywordSixthCategories/Index";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "/Keywords/KeywordSixthCategories/Create";
    ViewData["BT-Text-3"] = "";
    ViewData["BT-Link-3"] = "";
    ViewData["BT-Text-4"] = "";
    ViewData["BT-Link-4"] = "";
}
<!-- End: -->

<h5>
    @ViewData["Title"]
</h5>
<hr />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => model.KeywordSixthCategoryID).Titled("#").Css("text-center");
        columns.Add(model => $"<a href=\"/Keywords/KeywordSixthCategories/Edit/{model.KeywordSixthCategoryID}\" class=\"btn btn-primary btn-sm\">Edit</a>").Encoded(false).Titled("Actions");
        columns.Add(model => model.Keyword).Titled("Keyword");
        columns.Add(model => model.FirstCategory.Name).Titled("First Category");
        columns.Add(model => model.SecondCategory.Name).Titled("Second Category");
        columns.Add(model => model.ThirdCategory.Name).Titled("Third Category");
        columns.Add(model => model.FourthCategory.Name).Titled("Fourth Category");
        columns.Add(model => model.FifthCategory.Name).Titled("Fifth Category");
        columns.Add(model => model.SixthCategory.Name).Titled("Sixth Category");
    })
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 10, "10" }, { 50, "50" }, { 75, "75" }, { 100, "100" }, { 0, "All" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .Using(GridFilterMode.Row)
    .Empty("No data found")
)
