<label>City <span class="text-danger">*</span></label>
<select class="form-control" @onchange="GetLocalitiesByCityId">
    <option value="0" selected>Choose...</option>
    @if (ListWizAddressVM.Cities != null)
    {
        @foreach (var p in ListWizAddressVM.Cities)
        {
            @if (ListWizAddressVM.CityId == p.CityID)
            {
                <option selected value="@p.CityID">@p.Name</option>
                continue;
            }
            <option value="@p.CityID">@p.Name</option>
        }
    }
</select>
