@page "/Auth/Login"
@*@inject ListingDbContext listingContext
    @inject AuditDbContext auditContext
    @inject SharedDbContext sharedContext
    @inject CategoriesDbContext categoriesContext
    @inject ApplicationDbContext applicationContext
    @inject AuthenticationStateProvider authenticationState
    @inject NotificationService _notice
    @inject NavigationManager navManager
    @inject IJSRuntime jsRuntime
    @using AntDesign
    @using BOL.SHARED*@
@inject BAL.User.IUserService userService
<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

@*@section CSS{
        <link href="~/css/mim-authorization-pages.css" rel="stylesheet" type="text/css" />
    }*@


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="sign-in-dialog" class="dialog-mfp zoom-anim-dialog">
                <div class="step first">
                    <div class="d-flex justify-content-center pt-4">
                        @*<img src="/resources/img/logo_sticky.svg" width="220" alt="logo" class="logo_sticky">*@
                        <h1 class="text-center">Sign In</h1>
                    </div>
                    <div class="tab-content checkout">
                        <div class="" id="">
                            <div class="form-group">
                                <Input @bind-Value="@phoneNumber" class="form-control" Type="tel" Placeholder="Mobile Number" MaxLength="10" />
                                <i class="icon_mobile"></i>
                            </div>
                            <button @onclick="@(async() => await GenerateOTP())" class="btn_1 full-width">Continue</button>
                            @*<input type="submit" class="btn_1 full-width" value="Continue">*@
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                                <i class="icon_lock_alt"></i>
                            </div>
                            <div class="clearfix add_bottom_15">
                                <div class="checkboxes float-left" style="color: #999;">
                                    you don't have account
                                </div>
                                <div class="float-right"><a id="forgot" href="sign-up.html" style="color: #fe900d;">Sign up?</a></div>
                            </div>
                        </div>
                        <!-- /tab_2 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>