@page "/Auth/Login"
@*@inject ListingDbContext listingContext
    @inject AuditDbContext auditContext
    @inject SharedDbContext sharedContext
    @inject CategoriesDbContext categoriesContext
    @inject ApplicationDbContext applicationContext
    @inject AuthenticationStateProvider authenticationState
    @inject NotificationService _notice
    @inject NavigationManager navManager
    @inject IJSRuntime jsRuntime
    @using AntDesign
    @using BOL.SHARED*@
@inject BAL.Services.Contracts.IUserService userService
@inject NavigationManager navManager
<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

@*@section CSS{
        <link href="~/css/mim-authorization-pages.css" rel="stylesheet" type="text/css" />
    }*@


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="sign-in-dialog" class="dialog-mfp zoom-anim-dialog">
                <div class="step first">
                    <div class="d-flex justify-content-center pt-4">
                        @*<img src="/resources/img/logo_sticky.svg" width="220" alt="logo" class="logo_sticky">*@
                        <h1 class="text-center">Sign In</h1>
                    </div>
                    <div class="tab-content checkout">
                        <div class="" id="">
                            @if (!isOtpGenerated)
                            {
                                <div class="form-group">
                                    <Input @bind-Value="@phoneNumber" class="form-control" Type="tel" Placeholder="Mobile Number" MaxLength="10" />
                                    <i class="icon_mobile"></i>
                                </div>
                                <button @onclick="@(async () => await GenerateOTP())" class="btn_1 full-width">Continue</button>
                            }
                            @*<input type="submit" class="btn_1 full-width" value="Continue">*@
                            @if (isOtpGenerated)
                            {
                                <div class="form-group">
                                    <Input @bind-Value="@otp" class="form-control" Type="tel" Placeholder="otp" MaxLength="6" />
                                    <i class="icon_lock_alt"></i>
                                </div>
                                <button @onclick="@(async () => await VerifyOTP())" class="btn_1 full-width">Verify</button>
                            }
                            <div class="clearfix add_bottom_15">
                                <div class="checkboxes float-left" style="color: #999;">
                                    You don't have account!
                                </div>
                                <div class="float-right">
                                    <a href="/Auth/Register">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <!-- /tab_2 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>