@model IEnumerable<BOL.PLAN.Product>
@inject IListingManager listingManager

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Billing";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Billing/Products";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "/Billing/Products/Create";
    ViewData["BT-Text3"] = "";
    ViewData["BT-Link3"] = "";
    ViewData["BT-Text4"] = "";
    ViewData["BT-Link4"] = "";
}
<!-- End: -->

<h5>@ViewData["Title"]</h5>
<hr />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => model.ProductID).Titled("#").Css("text-center");
        columns.Add(model => model.ProductName).Titled("Product Name");
        columns.Add(model => model.PlanAmount).Titled("Plan Amount");
        columns.Add(model => model.ProductType).Titled("Product Type");
        columns.Add(model => listingManager.GetPlanName(model.ProductType, model.PlanID)).Titled("Plan Name");
        columns.Add(model => model.PlanID).Titled("PlanID");
        columns.Add(model => $"<a href=\"/Billing/Products/Edit/{model.ProductID}\" class=\"btn btn-primary btn-sm\">Edit</a>").Encoded(false).Titled("Actions");
    })
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 10, "10" }, { 50, "50" }, { 75, "75" }, { 100, "100" }, { 0, "All" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .Using(GridFilterMode.Row)
    .Empty("No data found")
)