@page "/MyAccount/Listing/PaymentMode"

<AuthorizeView>
    <Authorized>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sidebar-content">
                        <h4>Add Payment Mode</h4>
                        <p class="add-lidting-title-from">
                            Add Listing / Add Payment Mode
                            <span>
                                <a class="back_btn mx-3" href="/MyAccount/ManageListing">Back</a>
                            </span>
                        </p>
                        <PaymentModeForm IsCreateFreeListing=false />
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>