@page "/MyAccount/Listing/PaymentMode/{listingId:int?}"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject SharedDbContext sharedContext
@inject CategoriesDbContext categoriesContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@using AntDesign
@using BOL.SHARED

<AuthorizeView>
    <Authorized>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sidebar-content">
                        <h4>Add Payment Mode</h4>
                        <p class="add-lidting-title-from">
                            Add Listing / Add Payment Mode
                            <span>
                                <a class="back_btn mx-3" href="/MyAccount/ManageListing">Back</a>
                            </span>
                        </p>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="clearfix add_bottom_15">
                                    <button class="btn btn-primary" @onclick="@(async() => await ToggleAllAsync())">
                                        Select To All
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Cash
                                            <input type="checkbox" @bind="@Cash">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            RTGS & NEFT
                                            <input type="checkbox" @bind="RtgsNeft">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            PayTM
                                            <input type="checkbox" @bind="@PayTM">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Net Banking
                                            <input type="checkbox" @bind="NetBanking">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div><div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Debit Card
                                            <input type="checkbox" @bind="DebitCard">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div><div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Phone Pay
                                            <input type="checkbox" @bind="PhonePay">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div><div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Cheque
                                            <input type="checkbox" @bind="Cheque">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Credit Card
                                            <input type="checkbox" @bind="CreditCard">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">
                                            Paypal
                                            <input type="checkbox" @bind="Paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-left col-12 mt-3">
                                @if (buttonBusy == false)
                                {
                                    <button class="btn btn-primary" @onclick="@(async() => await CreatePaymentModeAsync())">Save & Continue</button>
                                }
                                else
                                {
                                    <button class="btn btn-secondary">Saving...</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>