@page "/StaffPanel/Bookmarks"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject SharedDbContext sharedContext
@inject CategoriesDbContext categoriesContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@using BOL.VIEWMODELS
@inject IJSRuntime jsRuntime
@using AntDesign
@using BOL.SHARED

<style>
    .example {
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
    }
</style>

<AuthorizeView>
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nav profile-side-menu  flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" href="/StaffPanel/Listing" role="tab" aria-selected="false">Listings</a>
                            <a class="nav-link" href="/StaffPanel/ListingClaims" role="tab" aria-controls="v-pill-subscribes" aria-selected="false">Listing Claims</a>
                            <a class="nav-link" href="/StaffPanel/Reviews" role="tab" aria-controls="v-pill-reviews" aria-selected="false">Reviews</a>
                            <a class="nav-link" href="/StaffPanel/Likes" role="tab" aria-controls="v-pill-likes" aria-selected="false">Likes</a>
                            <a class="nav-link active" href="/StaffPanel/Bookmarks" role="tab" aria-controls="v-pill-bookmark" aria-selected="true">Bookmarks</a>
                            <a class="nav-link" href="/StaffPanel/Subscribes" role="tab" aria-controls="v-pill-subscribes" aria-selected="false">Subscribes</a>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class="add-review">
                                    <h5>Bookmarks</h5>
                                    <div class="list_general reviews">
                                        <ul>
                                            @if (listBLVM != null)
                                            {
                                                <Virtualize TItem="BookmarkListingViewModel" Items="listBLVM" Context="i">
                                                    <li>
                                                        <span>June 04 2021</span>
                                                        <figure>
                                                            <Avatar Style="color: #f56a00; background-color: #fde3cf; ">@i.NameFirstLetter</Avatar>
                                                        </figure>
                                                        <h4>@i.CompanyName <small class="float-right" style="font-size:12px;">@i.FirstCat > @i.SecondCat</small></h4>

                                                        <div class="row mb-2">
                                                            <div class="inline-popups mr-2">
                                                                <a href="/Listing/Index/@i.ListingID" target="_blank" data-effect="mfp-zoom-in" class="btn_1 gray">
                                                                    <i class="fa fa-fw fa-reply"></i> View Listing
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </Virtualize>
                                            }
                                            else
                                            {
                                                <div class="example">
                                                    <Spin />
                                                </div>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>