@page "/StaffPanel/Listing"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject SharedDbContext sharedContext
@inject CategoriesDbContext categoriesContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@using BOL.LISTING
@inject IJSRuntime jsRuntime
@using AntDesign
@using BOL.SHARED

<AuthorizeView Roles="Staff">
    <Authorized>
        <main>
            <div class="container margin_60_35">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nav profile-side-menu  flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" href="/StaffPanel/Listing" role="tab" aria-selected="false">Listings</a>
                            <a class="nav-link" href="/StaffPanel/ListingClaims" role="tab" aria-controls="v-pill-subscribes" aria-selected="false">Listing Claims</a>
                            <a class="nav-link" href="/StaffPanel/Reviews" role="tab" aria-controls="v-pill-reviews" aria-selected="false">Reviews</a>
                            <a class="nav-link" href="/StaffPanel/Likes" role="tab" aria-controls="v-pill-likes" aria-selected="false">Likes</a>
                            <a class="nav-link" href="/StaffPanel/Bookmarks" role="tab" aria-controls="v-pill-bookmark" aria-selected="true">Bookmarks</a>
                            <a class="nav-link" href="/StaffPanel/Subscribes" role="tab" aria-controls="v-pill-subscribes" aria-selected="false">Subscribes</a>
                        </div>
                    </div>

                    <div class="col-lg-9">
                        <div class="tab-content profile-sidebar-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <h5>Listings</h5>
                                <div class="list_general">
                                    <ul>
                                        @if (userListings != null)
                                        {
                                            <Virtualize TItem="Listing" Items="userListings" Context="i">
                                                <li>
                                                    <figure>
                                                        <Avatar Style="color: #f56a00; background-color: #fde3cf; ">
                                                            @i.CompanyName[0].ToString()
                                                        </Avatar>
                                                    </figure>
                                                    <h4>@i.CompanyName</h4>
                                                    <small>@i.CreatedDate.ToString("dd/MM/yyyy")</small>
                                                    <p><a href="/Listing/Index/@i.ListingID" target="_blank" class="btn_1 gray"><i class="fa fa-fw fa-eye"></i> View Listing</a></p>
                                                    <ul class="buttons">
                                                        <li><a href="/MyAccount/ListingWizard/CompanyEdit/@i.ListingID" class="btn_1 gray delete wishlist_close"><i class="fa fa-fw fa-times-circle-o"></i> Edit</a></li>
                                                    </ul>
                                                </li>

                                            </Virtualize>

                                        }
                                        else
                                        {
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </Authorized>
    <NotAuthorized>
        <UnAuthorizedUser />
    </NotAuthorized>
</AuthorizeView>

