<div class="col-lg-3">
                        <div class="nav profile-side-menu  flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" href="/StaffPanel/Listing" role="tab" aria-selected="false">Listings</a>
                            <a class="nav-link" href="/StaffPanel/Reviews" role="tab" aria-controls="v-pill-reviews" aria-selected="false">Reviews</a>
                            <a class="nav-link" href="/StaffPanel/Likes" role="tab" aria-controls="v-pill-likes" aria-selected="false">Likes</a>
                            <a class="nav-link" href="/StaffPanel/Bookmarks" role="tab" aria-controls="v-pill-bookmark" aria-selected="true">Bookmarks</a>
                            <a class="nav-link" href="/StaffPanel/Subscribes" role="tab" aria-controls="v-pill-subscribes" aria-selected="false">Subscribes</a>
                        </div>
                    </div>