@model IEnumerable<BOL.AUDITTRAIL.UserHistory>

@{
    ViewData["Title"] = "All Users History";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["RowCount"] = Model.Count();
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "User History";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Audit/UserHistories";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "/Audit/UserHistories/Create";
    ViewData["BT-Text3"] = "";
    ViewData["BT-Link3"] = "";
    ViewData["BT-Text4"] = "";
    ViewData["BT-Link4"] = "";
}
<!-- End: -->

<h5>
    @ViewData["Title"] Time Taken: @ViewBag.StopWatch
    <span class="float-right">
        Total : @ViewData["RowCount"]
    </span>
</h5>
<hr />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add().RenderedAs((model, row) => model.HistoryID).Titled("#").Css("text-center");
        columns.Add(model => model.Email).Titled("Email");
        columns.Add(model => model.Activity).Titled("Activity");
        columns.Add(model => model.Mobile).Titled("Mobile");
        columns.Add(model => model.UserRole).Titled("User Role");
        columns.Add(model => model.VisitDate).Titled("Vist Date");
        columns.Add(model => model.VisitTime).Titled("Vist Time");
        columns.Add(model => model.ReferrerURL).Titled("Referrer URL");
        columns.Add(model => model.IPAddress).Titled("IP Address");
        columns.Add(model => $"<a href=\"/Audit/UserHistories/Edit/{model.HistoryID}\" class=\"btn btn-primary btn-sm\">Edit</a>").Encoded(false).Titled("Actions");
    })
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 10, "10" }, { 50, "50" }, { 75, "75" }, { 100, "100" }, { 0, "All" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .Using(GridFilterMode.Row)
    .Empty("No data found")
)