@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    Layout = "~/Views/Shared/Dashboard/_UserDashboard.cshtml";
}

<!-- Begin: Change status of active edit listing menu based on selection -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var $Active = $('[name = "TwoFactor"]');
            $Active.addClass("active").addClass("active-menu");
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
<!-- End: -->

<div class="col-lg-12">
    <div class="row">
        @await Component.InvokeAsync("IdentitySideMenu")
        <div class="col-lg-10">
            <h4>@ViewData["Title"]</h4>
            <partial name="_StatusMessage" for="StatusMessage" />
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert">
                        <p>
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
                        </p>
                        <p>
                            This process disables 2FA until you verify your authenticator app.
                            If you do not complete your authenticator app configuration you may lose access to your account.
                        </p>
                    </div>
                    <div>
                        <form id="reset-authenticator-form" method="post" class="form-group">
                            <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
