@model IEnumerable<BOL.CATEGORIES.FirstCategory>
@inject ICategory categoryRepo
@inject IKeywords keywordsRepo

@{
    ViewData["Title"] = "First Categories";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewData["RowCount"] = Model.Count();
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Categories";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Categories/FirstCategories";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "/Categories/FirstCategories/Create";
}
<!-- End: -->

@section Scripts{
    <script type="text/javascript">
        // Shafi: Bind keyword field with url field and convert to upper case by remove space
        $(document).ready(function () {
            // Bind keyword, url and description input together
            $("#sarchKeywordName").keyup(function (event) {

                // Force text to be typed in lowercase in Keyword text field
                $(this).val($(this).val().toLowerCase());

                // Get value of keyword text field
                var categoryName = $(this).val();

                // Tranform value of keyword to Title Case
                function ToTitleCase(categoryName) {
                    return categoryName.replace(/(?:^|\s)\w/g, function (match) {
                        return match.toUpperCase();
                    });
                }

                // Call ToTitleCase function replace space by - hyphen through and convert to title case
                var url = ToTitleCase(categoryName).replace(/\s+/g, "-");

                // Set final value of input with id's url, title and description
                $("#url").val(url);
                $("#sarchKeywordName").val(ToTitleCase(categoryName));
                $("#description").val(ToTitleCase(categoryName));
                $("#keywords").val(ToTitleCase(categoryName));
            });
            // End:

            // Prevent user manually typing text in url input
            $("#url").keypress(function (e) {
                e.preventDefault();
            });
            // End:
        });
    </script>

    <!-- Begin: Form configuration -->
    @await Component.InvokeAsync("DisableSubmitButton")
    <!-- End: -->
}

<h5>
    @ViewData["Title"]
    <a href="/Categories/FirstCategories/Create" class="btn btn-sm btn-primary float-right"><i class="fa fa-plus"></i> <span class="ml-1">Create New</span></a>
    <span class="float-right mr-3">
        Records Count : @ViewData["RowCount"]
    </span>
</h5>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-3">
            <input type="hidden" name="URL" id="url" class="form-control" />
            <input type="hidden" name="Description" id="description" class="form-control" />
            <input type="hidden" name="Keyword" id="keywords" class="form-control" />
            <div class="form-group">
                <label class="control-label">Category Name</label>
                <input name="Name" id="categoryName" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Business Category Name</label>
                <input name="SearchKeywordName" id="sarchKeywordName" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Sort Order</label>
                <input name="SortOrder" value="0" class="form-control" />
            </div>
        </div>
        <div class="col-md-3 mt-2">
            <label class="control-label"></label>
            <div class="form-group">
                <button type="submit" name="disableFormSubmit" class="btn btn-primary btn-block waves-effect">Create</button>
            </div>
        </div>
    </div>
</form>

@section CSS{
    <link href="~/css/MIMUploadButton.css" rel="stylesheet" />
}

@if (TempData["Message"] != null)
{
    <div class="row mb-2">
        <div class="col-12 col-lg-12 alert alert-danger">
            Message: @TempData["Message"]
        </div>
    </div>
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.SearchCount).Titled("Searches").Css("widthSearches").Filterable(false);
        columns.Add(model => model.SortOrder).Titled("Sort").Filterable(false).Css("width");
        columns.Add(model => $"<img src='/FileManager/CategoryIcons/First/{model.URL}.png' width='30px' height='30px'>").Encoded(false).Titled("Icon").Css("width");
        columns.Add(model => $"<form action='/FileManager/CategoryIcons/UploadIcon' method='post' enctype='multipart/form-data'><input type='hidden' name='directory' value='\\FileManager\\CategoryIcons\\First\\' required><input type='hidden' name='imageName' value='{model.URL}' required><label class='myFile'><i class='fa fa-file btn btn-sm btn-purple' style='margin-right:10px;'><span class=\"ml-2\" style='font-family:Arial, Helvetica, sans-serif;'>File<span></i><input type='file' name='file' required /></label><button type='submit' class='btn btn-sm btn-primary'><i class='fa fa-upload'></i> Upload</button></form>").Encoded(false).Titled("Upload Icon").Css("width-170");
        columns.Add(model => $"<form action='/FileManager/CategoryIcons/DeleteImage' method='post' enctype='multipart/form-data'><input type='hidden' name='directory' value='\\FileManager\\CategoryIcons\\First\\' required><input type='hidden' name='imageName' value='{model.URL}' required><button type='submit' class='btn btn-sm btn-danger' style='margin-top:-10px; font-size:12px;'><i class='fa fa-trash'></i><span class='ml-2'>Icon</span></button></form>").Encoded(false).Titled("Delete").Css("width");

        columns.Add(model => $"<a href=\"/DeepCategories/Browse/Second/{model.FirstCategoryID}\">{model.Name}</a> <small class='float-right'><span class='btn btn-sm btn-secondary ml-2'>{categoryRepo.CountChildOfFirstCategory(model.FirstCategoryID)}</span> <a href=\"/Categories/FirstCategories/Edit/{model.FirstCategoryID}\" class=\"ml-2 btn btn-sm btn-primary\">Edit</a> {(categoryRepo.FirstCategoryIsNotEmpty(model.FirstCategoryID) ? "" : $"<a href='/Categories/FirstCategories/Delete/{model.FirstCategoryID}' class='ml-2 btn btn-sm btn-danger'>Delete</a></small>")}").Titled("Categories").Encoded(false).Sortable(true).Filterable(true);

        columns.Add(model => $"<span class='mr-3 btn btn-sm btn-secondary'>{keywordsRepo.CountKeywordsInFirstCategory(model.FirstCategoryID)}</span><a href=\"/DeepKeywords/Browse/First/{model.FirstCategoryID}\" class='btn btn-sm btn-secondary mr-2'>Manage Keywords</a>").Encoded(false).Titled("Keywords").Css("width-100");
    })
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 30, "30" }, { 50, "50" }, { 75, "75" }, { 100, "100" }, { 0, "All" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .Using(GridFilterMode.Row)
    .Empty("No data found")
)

<style>
    .width {
        width: 85px;
    }

    .width-100 {
        width: 300px;
        text-align: center;
    }

    .width-170 {
        width: 170px;
        text-align: center;
    }

    .widthSearches {
        width: 80px;
    }
</style>