@model BOL.CATEGORIES.KeywordSecondCategory

@{
    ViewData["Title"] = "Create Keyword Second Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- Begin: Breadcrumb -->
@{
    ViewData["BC-1"] = "Keywords";
    ViewData["BC-2"] = "Manage";
    ViewData["BC-3"] = ViewData["Title"];
    ViewData["BT-Text-1"] = "Manage";
    ViewData["BT-Link-1"] = "/Keywords/KeywordSecondCategories/Index";
    ViewData["BT-Text-2"] = "Create";
    ViewData["BT-Link-2"] = "/Keywords/KeywordSecondCategories/Create";
    ViewData["BT-Text-3"] = "";
    ViewData["BT-Link-3"] = "";
    ViewData["BT-Text-4"] = "";
    ViewData["BT-Link-4"] = "";
}
<!-- End: Breadcrumb -->

@section Scripts{
    <script type="text/javascript">
        // Shafi: Bind keyword field with url field and convert to upper case by remove space
        $(document).ready(function () {
            // Bind keyword, url and description input together
            $("#keyword").keyup(function (event) {

                // Force text to be typed in lowercase in Keyword text field
                $(this).val($(this).val().toLowerCase());

                // Get value of keyword text field
                var keyword = $(this).val();

                // Tranform value of keyword to Title Case
                function ToTitleCase(keyword) {
                    return keyword.replace(/(?:^|\s)\w/g, function (match) {
                        return match.toUpperCase();
                    });
                }

                // Call ToTitleCase function replace space by - hyphen through and convert to title case
                var url = ToTitleCase(keyword).replace(/\s+/g, "-");

                // Set final value of input with id's url, title and description
                $("#url").val(url);
                $("#title").val(ToTitleCase(keyword));
                $("#description").val(ToTitleCase(keyword));
            });
            // End:

            // Prevent user manually typing text in url input
            $("#url").keypress(function (e) {
                e.preventDefault();
            });
            // End:
        });
    </script>

    <!-- Begin: Fetch Second Category -->
    <script type="text/javascript">
        // On page load empty second category
        $("#secondCategoryDropdown").empty();
        // End:
        $(document).ready(function () {
        // Begin: On first category change
            $("#firstCategoryDropdown").change(function () {
                // On first catetgory change empty second category
                $("#secondCategoryDropdown").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("fetchSecondCategory", "CascadeDropdownCategories", new { area = "" })',
                dataType: 'json',
                data: { JsonFirstCategoryID: $("#firstCategoryDropdown").val() },
                success: function (selSecondCategory) {
                    $.each(selSecondCategory, function (i, secondCategory) {
                        $("#secondCategoryDropdown").append('<option value="' + secondCategory.value + '">' + secondCategory.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert("Cannot fetch data, error is " + ex);
                }
            });
            return false;
        })
    });
    </script>
    <!-- End: -->
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Begin: Hidden Inputs -->
            <input type="hidden" asp-for="URL" id="url" value="" />
            <input type="hidden" asp-for="Title" id="title" value="" />
            <span asp-validation-for="URL" class="text-danger"></span>
            <span asp-validation-for="Title" class="text-danger"></span>
            <!-- End: -->
            <div class="form-group">
                <label asp-for="FirstCategoryID" class="control-label"></label>
                <select asp-for="FirstCategoryID" id="firstCategoryDropdown" class="form-control select2" asp-items="ViewBag.FirstCategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SecondCategoryID" class="control-label"></label>
                <select asp-for="SecondCategoryID" id="secondCategoryDropdown" class="form-control select2" asp-items="ViewBag.SecondCategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Keyword" class="control-label"></label>
                <input asp-for="Keyword" id="keyword" class="form-control" />
                <span asp-validation-for="Keyword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" id="description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>