@page "/MyAccount/LabourNakaWizard/ProfessionCreate"
@inject ListingDbContext listingContext
@inject AuditDbContext auditContext
@inject CategoriesDbContext categoriesContext
@inject SharedDbContext sharedContext
@inject AuthenticationStateProvider authenticationState
@inject NotificationService _notice
@inject NavigationManager navManager
@using BOL.SHARED
@inject IJSRuntime jsRuntime

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="listing-from-block individual-listing">
                <div class="row">
                    <!-- Begin: Right Menu -->
                    <div class="col-md-3">
                        <div class="nav profile-side-menu flex-column nav-pills" id="v-pills-tab-listing" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/PersonalCreate" aria-selected="true">
                                Personal
                            </a>
                            <a class="nav-link active" href="/MyAccount/LabourNakaWizard/ProfessionCreate" aria-selected="false">
                                Profession
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/ContactCreate" aria-selected="false">
                                Contact
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/ReferenceCreate" aria-selected="false">
                                References
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/DocumentCreate" aria-selected="false">
                                Documents
                            </a>
                            <a class="nav-link" href="/MyAccount/LabourNakaWizard/CategoryCreate" aria-selected="false">
                                Category
                            </a>
                        </div>
                    </div>
                    <!-- End: Right Menu -->
                    <div class="col-md-9">
                        <div class="tab-content profile-sidebar-content add-lidting" id="v-pills-tabContent">
                            <!-- Begin: Form -->
                            <div class="tab-content profile-sidebar-content add-lidting" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-Company" role="tabpanel"
                                     aria-labelledby="v-pills-Company-tab">
                                    <p class="add-lidting-title-from font-weight-bold">
                                        Labour Naka > Profession
                                    </p>

                                    <div class="row">
                                        <!-- First Name -->
                                        <div class="form-group col-md-4">
                                            <label for="name">
                                                Qualification
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select @bind="Prof.Qualification" class="form-control" disabled="@Disable">
                                                <option selected disabled>Choose...</option>
                                                <option value="Graduate">
                                                    Graduate
                                                </option>
                                                <option value="12th Passed">
                                                    12th Passed
                                                </option>
                                                <option value="10th Passed">
                                                    10th Passed
                                                </option>
                                                <option value="10th Failed">
                                                    10th Failed
                                                </option>
                                                <option value="8th Passed">
                                                    8th Passed
                                                </option>
                                                <option value="5th Passed">
                                                    5th Passed
                                                </option>
                                                <option value="None">
                                                    None
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        English
                                                        <input type="checkbox" @bind="Prof.English" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Hingi
                                                        <input type="checkbox" @bind="Prof.Hindi" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Marathi
                                                        <input type="checkbox" @bind="Prof.Marathi" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Gujrati
                                                        <input type="checkbox" @bind="Prof.Gujrati" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Urdu
                                                        <input type="checkbox" @bind="Prof.Urdu" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Tamil
                                                        <input type="checkbox" @bind="Prof.Tamil" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Kannada
                                                        <input type="checkbox" @bind="Prof.Kannada" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="clearfix add_bottom_15">
                                                <div class="checkboxes float-left">
                                                    <label class="container_check">
                                                        Telegu
                                                        <input type="checkbox" @bind="Prof.Telegu" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="text-left col-12 mt-3">
                                            @if (Busy == false)
                                            {
                                                <button class="btn_1" @onclick="CreateAsync">
                                                    Create & Save
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn_1" disabled>
                                                    Saving...
                                                </button>
                                            }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End: Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="text-align:center; margin:20px;">
            <a href="/Identity/Account/Login" class="btn_1">Login To Continue</a>
        </div>
    </NotAuthorized>
</AuthorizeView>